git+https://github.com/openai/CLIP.git
dreamsim==0.2.1
torch==2.6.0
torchvision==0.21.0
matplotlib==3.7.5
numpy==1.26.4
alive_progress==3.1.1
qdax==0.4.1
jax==0.5.3
diffusers==0.32.2
jaxlib==0.5.3
jaxopt==0.8.3
brax==0.12.1
flax==0.10.5
numba==0.61.0
pandas==2.2.3
sortedcontainers==2.4.0
toml==0.10.2
